{% extends "base.html" %}
{% load static %}

{% block content %}

<table>
    <tr>
        <div>
            <form action="/items" method="get">
                    <label for="search">Search: </label>
                    <input type="text" id="search" name="itm">
                    <input type="submit" value="Search">
            </form>
        </div>
    </tr>
    <tr>
        <div><h3>Recomended Items: </h3></div>
    </tr>
    <tr>
        <th>
            <div class="container">
                <img src={% static "mask.jpg" %} alt="Face Masks" class="image">
                <a href="items/?itm=face-mask">
                    <div class="overlay">
                        <div class="text">Face Masks</div>
                    </div>
                </a>
            </div>
        </th>
        <th>
            <div class="container">
                <img src={% static "handsan.jpeg" %} alt="Hand Sanitizer" class="image">
                <a href="items/?itm=hand-sanitizer">
                    <div class="overlay">
                        <div class="text">Hand Sanitizer</div>
                    </div>
                </a>
            </div>
        </th>
        <th>
            <div class="container">
                <img src={% static "tp.jpeg" %} alt="toilet paper" class="image">
                <a href="items/?itm=toilet-paper">
                    <div class="overlay">
                        <div class="text">Toilet Paper</div>
                    </div>
                </a>
            </div>
        </th>
        <th>
            <div class="container">
                <img src={% static "can.jpg" %} alt="Canned Food" class="image">
                <a href="items/?itm=canned-food">
                    <div class="overlay">
                        <div class="text">Canned Food</div>
                    </div>
                </a>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="container">
                <img src={% static "gloves.jpg" %} alt="Latex Gloves" class="image">
                <a href="items/?itm=latex-gloves">
                    <div class="overlay">
                        <div class="text">Latex Gloves</div>
                    </div>
                </a>
            </div>
        </th>
        <th>
            <div class="container">
                <img src={% static "thermometer.jpg" %} alt="Thermometer" class="image">
                <a href="items/?itm=thermometer">
                    <div class="overlay">
                        <div class="text">Thermometer</div>
                    </div>
                </a>
            </div>
        </th>
        <th>
            <div class="container">
                <img src={% static "wipes.jpeg" %} alt="Disinfecting Wipes" class="image">
                <a href="items/?itm=disinfecting-wipes">
                    <div class="overlay">
                        <div class="text">Disinfecting Wipes</div>
                    </div>
                </a>
            </div>
        </th>
        <th>
            <div class="container">
                <img src={% static "soap.png" %} alt="Hand Soap" class="image">
                <a href="items/?itm=hand-soap">
                    <div class="overlay">
                        <div class="text">Hand Soap</div>
                    </div>
                </a>
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="container">
                <img src={% static "tissues.jpg" %} alt="Tissues" class="image">
                <a href="items/?itm=tissues">
                    <div class="overlay">
                        <div class="text">Tissues</div>
                    </div>
                </a>
            </div>
        </th>
    </tr>
</table>
{% endblock %}