{% extends 'base.html' %}
{% load dict_key %}
{% load sub %}

{% block content%}
<table style="border-collapse: collapse;">
    <tr>
            <div class="sort">
                <a href="/items?scrp=False&sort=score&itm={{ itm }}&pg={{ pg }}"><input type="button" class="sortItem" value="Most Recomended"></a>
                <a href="/items?scrp=False&sort=name&itm={{ itm }}&pg={{ pg }}"><input type="button" class="sortItem" value="Name"></a>
                <a href="/items?scrp=False&sort=price&itm={{ itm }}&pg={{ pg }}"><input type="button" class="sortItem" value="Price"></a>
                <a href="/items?scrp=False&sort=rating&itm={{ itm }}&pg={{ pg }}"><input type="button" class="sortItem" value="Rating"></a>
                <a href="/items?scrp=False&sort=sold&itm={{ itm }}&pg={{ pg }}"><input type="button" class="sortItem" value="Number Sold"></a>
            </div>
    </tr>
    <tr>
        <div class="sort">
            <label class="sortItem">Average Price: {{ avg|price }}</label>
        </div>
    </tr>
    {% for i in itmLst %}
        {% if i.price|sub:avg < 0 %}
            <tr class="item" style="border: 1px solid black;">
                <th>
                    <img src= {{ i.img }} >
                </th>
                <th> 
                    <ul style="list-style-type:none">
                        <li>
                            <a href= {{ i.url }} > {{ i.name }} </a> 
                        </li>
                        <li> Price : {{ i.price|price }} </li>
                        <li> Shipping: {{ i.shipping|price }} </li> 
                        <li style="color: green;"> {{ i.price|sub:avg|price }} below average price</li> 
                        <li> Rating: {{i.rating}} </li>
                        <li> Sold: {{ i.numSold }} </li>
                    </ul>
                </th>
            </tr>
        {% else %}
        <tr class="item" style="border: 1px solid black;">
            <th>
                <img src= {{ i.img }} >
            </th>
            <th> 
                <ul style="list-style-type:none">
                    <li>
                        <a href= {{ i.url }} > {{ i.name }} </a> 
                    </li>
                    <li> Price : {{ i.price|price }} </li>
                    <li> Shipping: {{ i.shipping|price }} </li> 
                    <li style="color: red;"> {{ i.price|sub:avg|price }} above average price</li> 
                    <li> Rating: {{i.rating}} </li>
                    <li> Sold: {{ i.numSold }} </li>
                </ul>
            </th>
        </tr>
        {% endif %}
    {% endfor %}
    <tr>
        <th>
            <a href="/items?scrp={{ scrp }}&sort={{ sort }}&itm={{ itm }}&pg={{ pg|add:-1 }}">Back</a>
        </th>
        <th>
            <a href="/items?scrp={{ scrp }}&sort={{ sort }}&itm={{ itm }}&pg={{ pg|add:1 }}">Next</a>
        </th>
    </tr>
</table>
{% endblock %}